body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.header-section-wrapper{
    position: relative;
}
nav.navbar-wrapper.container-fluid.bg-dark {
    position: sticky;
    top: 0px;
    z-index: 99999;
}
.nav-part.nav-part-logo img {
    width: 250px;
    max-width: 100%;
}
.nav-part {
    display: inline-block;
    box-sizing: border-box;
}
.nav-part-menu {
    width: 80%;
    box-sizing: border-box;
}

.nav-part-logo {
    width: 19%;
    box-sizing: border-box;
}

nav.navbar-wrapper.container-fluid.bg-dark {
    background: rgba(0,0,0,0.1)!important;
}
ul.navbar-menu {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.navbar-menu li {
    display: inline-block;
}

ul.navbar-menu li {
    margin-right: 5%;
}

ul.navbar-menu li a{    
    text-transform: uppercase;
    text-decoration: none;
    color: mediumaquamarine;
    font-weight: bolder;
    transition: 900ms;
}
ul.navbar-menu li a:hover{
    border-bottom: 5px solid mediumaquamarine;
    padding-bottom: 10px;
}

h3.banner-subtitle {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
    font-weight: bold;
}

.banner-heading {
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 0;
    color: darkorange;
    text-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    font-weight: 600;
}

h6.banner-sbutitle-1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bolder;
}
#MyExperience{
    color: blue;
    font-weight: bolder;
}
.banner-section-wrapper {
    position: relative;
}
.banner-part-img img {
    max-width: 100%;
}
section.container-fluid.banner-bg {
    position: relative;
    background-color: #ECF0FF;
}

section.container-fluid.banner-bg:before {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    content: '';
    background: white;
    z-index: 0;
}
ul.about-me {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
ul.about-me li {
    line-height: 200%;
    font-style: italic;
    font-weight: bold;
}
h3.about-heading {
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -1px;
}
a.btn.btn-primary.btn-sm.download-cv {
    margin: 15px 0px;
    width: 30%;
    text-transform: uppercase;
}